In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# load dataset
# Read the csv file into a pandas DataFrame

nfl_df = pd.read_csv("resources/nfl_data_with_final_win_percentages.csv")
list(nfl_df)
# nfl_df.head()

C:\Users\setho\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Unnamed: 0',
 'Game ID',
 'schedule_date',
 'schedule_season',
 'schedule_week',
 'schedule_week_clean',
 'schedule_playoff',
 'team',
 'team_id',
 'cumulative_win_percent',
 'cum_win_25',
 'cum_win_50',
 'cum_win_75',
 'cum_win_100',
 'Miami Dolphins',
 'Oakland Raiders',
 'Houston Oilers',
 'Denver Broncos',
 'San Diego Chargers',
 'Buffalo Bills',
 'Green Bay Packers',
 'Baltimore Colts',
 'Atlanta Falcons',
 'Los Angeles Rams',
 'Detroit Lions',
 'Chicago Bears',
 'Pittsburgh Steelers',
 'New York Giants',
 'San Francisco 49ers',
 'Minnesota Vikings',
 'St. Louis Cardinals',
 'Philadelphia Eagles',
 'Washington Redskins',
 'Cleveland Browns',
 'New York Jets',
 'New England Patriots',
 'Kansas City Chiefs',
 'Dallas Cowboys',
 'Boston Patriots',
 'New Orleans Saints',
 'Cincinnati Bengals',
 'Tampa Bay Buccaneers',
 'Seattle Seahawks',
 'Los Angeles Raiders',
 'Indianapolis Colts',
 'Phoenix Cardinals',
 'Arizona Cardinals',
 'Carolina Panthers',
 'St. Louis Rams',
 'Jacksonville Jaguars',
 'Baltimore Ravens',
 'Tennessee Oilers',
 'Tennessee Titans',
 'Houston Texans',
 'Los Angeles Chargers',
 'Home',
 'Away',
 'team_favorite_id',
 'Favorite_to_Win',
 'Favorite_to_Lose',
 'spread_favorite',
 'spread_favorite_clean',
 'stadium_indoors_outdoors',
 'stadium_indoors',
 'stadium_outdoors',
 'stadium_retractable',
 'stadium_neutral',
 'stadium_neutral_true',
 'stadium_neutral_false',
 'weather_temperature',
 'temp_below_32',
 'temp_32_to_80',
 'temp_above_80',
 'weather_wind_mph',
 'wind_below_15',
 'wind_GTE_15',
 'win_lose_draw',
 'stadium',
 'stadium_surface',
 'weather_humidity',
 'weather_detail']

In [3]:
#clean dataframe

nfl_df = nfl_df.drop(columns=['Unnamed: 0','team','team_id','team_favorite_id','stadium_indoors_outdoors','weather_temperature',
                              'stadium','stadium_surface','stadium_indoors_outdoors','weather_humidity',
                              'stadium_neutral','weather_detail','weather_wind_mph','stadium_neutral','schedule_date',
                              'schedule_season','schedule_week'])
# Drop the null columns where all values are null
nfl_df = nfl_df.dropna(axis='columns', how='all')
# Drop the null rows
nfl_df = nfl_df.dropna()
nfl_df.head()

,Game ID,schedule_week_clean,schedule_playoff,cumulative_win_percent,cum_win_25,cum_win_50,cum_win_75,cum_win_100,Miami Dolphins,Oakland Raiders,...,stadium_outdoors,stadium_retractable,stadium_neutral_true,stadium_neutral_false,temp_below_32,temp_32_to_80,temp_above_80,wind_below_15,wind_GTE_15,win_lose_draw
136,171,17,True,0.133333,1,0,0,0,0,0,...,1.0,0.0,1,0,0,1,0,1,0,0
166,171,18,True,0.133333,1,0,0,0,0,0,...,1.0,0.0,1,0,0,1,0,1,0,1
479,351,17,True,0.250000,0,1,0,0,0,0,...,1.0,0.0,1,0,0,1,0,1,0,0
617,351,19,True,0.066667,1,0,0,0,0,1,...,1.0,0.0,1,0,0,1,0,1,0,1
732,539,17,True,0.062500,1,0,0,0,0,0,...,1.0,0.0,1,0,0,1,0,1,0,1

In [4]:
#create train test split

from sklearn.model_selection import train_test_split
y = nfl_df['win_lose_draw']
X = nfl_df.drop(columns=['win_lose_draw'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [5]:
X_train.head()

,Game ID,schedule_week_clean,schedule_playoff,cumulative_win_percent,cum_win_25,cum_win_50,cum_win_75,cum_win_100,Miami Dolphins,Oakland Raiders,...,stadium_indoors,stadium_outdoors,stadium_retractable,stadium_neutral_true,stadium_neutral_false,temp_below_32,temp_32_to_80,temp_above_80,wind_below_15,wind_GTE_15
16403,8275,10,False,0.625000,0,0,1,0,0,0,...,0.0,1.0,0.0,0,1,0,1,0,1,0
15973,7882,1,False,0.500000,0,0,1,0,0,0,...,0.0,1.0,0.0,0,1,0,0,1,1,0
11781,5901,4,False,1.000000,0,0,0,1,0,0,...,1.0,0.0,0.0,0,1,0,1,0,1,0
11626,5814,16,False,0.384615,0,1,0,0,0,0,...,0.0,1.0,0.0,0,1,0,1,0,1,0
5953,3010,4,False,0.666667,0,0,1,0,0,0,...,0.0,1.0,0.0,0,1,0,1,0,1,0

In [6]:
#pre-processing

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [8]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [9]:
 y_train_categorical.shape

(14605, 3)

In [10]:
#create and train deep learning model using keras

model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=65))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

WARNING:tensorflow:From C:\Users\setho\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [11]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [12]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               6600
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 303
=================================================================
Total params: 17,003
Trainable params: 17,003
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\setho\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/60
 - 1s - loss: 0.6612 - acc: 0.6528
Epoch 2/60
 - 1s - loss: 0.6446 - acc: 0.6583
Epoch 3/60
 - 1s - loss: 0.6426 - acc: 0.6572
Epoch 4/60
 - 1s - loss: 0.6367 - acc: 0.6584
Epoch 5/60
 - 1s - loss: 0.6310 - acc: 0.6611
Epoch 6/60
 - 1s - loss: 0.6276 - acc: 0.6641
Epoch 7/60
 - 1s - loss: 0.6230 - acc: 0.6656
Epoch 8/60
 - 1s - loss: 0.6196 - acc: 0.6652
Epoch 9/60
 - 1s - loss: 0.6159 - acc: 0.6716
Epoch 10/60
 - 1s - loss: 0.6136 - acc: 0.6711
Epoch 11/60
 - 1s - loss: 0.6094 - acc: 0.6734
Epoch 12/60
 - 1s - loss: 0.6064 - acc: 0.6807
Epoch 13/60
 - 1s - loss: 0.6028 - acc: 0.6785
Epoch 14/60
 - 1s - loss: 0.6004 - acc: 0.6818
Epoch 15/60
 - 1s - loss: 0.5969 - acc: 0.6870
Epoch 16/60
 - 1s - loss: 0.5934 - acc: 0.6861
Epoch 17/60
 - 1s - loss: 0.5907 - acc: 0.6887
Epoch 18/60
 - 1s - loss: 0.5873 - acc: 0.6873
Epoch 19/60
 - 1s - loss: 0.5831 - acc: 0.6946
Epoch 20/60
 - 1s - loss: 0.5795 - acc: 0.6968
Epoch 21/60
 - 1s - loss: 0.5787 - acc: 0.6976
Epoch 22/60
 - 1s - loss: 0.5753 - acc: 0.6981
Epoch 23/60
 - 1s - loss: 0.5738 - acc: 0.7004
Epoch 24/60
 - 1s - loss: 0.5683 - acc: 0.7031
Epoch 25/60
 - 1s - loss: 0.5661 - acc: 0.7035
Epoch 26/60
 - 1s - loss: 0.5628 - acc: 0.7074
Epoch 27/60
 - 1s - loss: 0.5593 - acc: 0.7110
Epoch 28/60
 - 1s - loss: 0.5568 - acc: 0.7126
Epoch 29/60
 - 1s - loss: 0.5531 - acc: 0.7131
Epoch 30/60
 - 1s - loss: 0.5492 - acc: 0.7166
Epoch 31/60
 - 1s - loss: 0.5479 - acc: 0.7159
Epoch 32/60
 - 1s - loss: 0.5451 - acc: 0.7178
Epoch 33/60
 - 1s - loss: 0.5419 - acc: 0.7199
Epoch 34/60
 - 1s - loss: 0.5404 - acc: 0.7211
Epoch 35/60
 - 1s - loss: 0.5375 - acc: 0.7250
Epoch 36/60
 - 1s - loss: 0.5321 - acc: 0.7245
Epoch 37/60
 - 1s - loss: 0.5300 - acc: 0.7310
Epoch 38/60
 - 1s - loss: 0.5286 - acc: 0.7308
Epoch 39/60
 - 1s - loss: 0.5256 - acc: 0.7312
Epoch 40/60
 - 1s - loss: 0.5213 - acc: 0.7298
Epoch 41/60
 - 1s - loss: 0.5199 - acc: 0.7326
Epoch 42/60
 - 1s - loss: 0.5157 - acc: 0.7397
Epoch 43/60
 - 1s - loss: 0.5163 - acc: 0.7359
Epoch 44/60
 - 1s - loss: 0.5128 - acc: 0.7371
Epoch 45/60
 - 1s - loss: 0.5088 - acc: 0.7386
Epoch 46/60
 - 1s - loss: 0.5065 - acc: 0.7411
Epoch 47/60
 - 1s - loss: 0.5041 - acc: 0.7423
Epoch 48/60
 - 1s - loss: 0.4996 - acc: 0.7449
Epoch 49/60
 - 1s - loss: 0.4986 - acc: 0.7472
Epoch 50/60
 - 1s - loss: 0.4957 - acc: 0.7492
Epoch 51/60
 - 1s - loss: 0.4917 - acc: 0.7503
Epoch 52/60
 - 1s - loss: 0.4895 - acc: 0.7526
Epoch 53/60
 - 1s - loss: 0.4872 - acc: 0.7522
Epoch 54/60
 - 1s - loss: 0.4843 - acc: 0.7555
Epoch 55/60
 - 1s - loss: 0.4822 - acc: 0.7567
Epoch 56/60
 - 1s - loss: 0.4797 - acc: 0.7593
Epoch 57/60
 - 1s - loss: 0.4777 - acc: 0.7604
Epoch 58/60
 - 1s - loss: 0.4746 - acc: 0.7623
Epoch 59/60
 - 1s - loss: 0.4723 - acc: 0.7637
Epoch 60/60
 - 1s - loss: 0.4697 - acc: 0.7643

In [14]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.8449 - acc: 0.6032
Normal Neural Network - Loss: 0.8449104051125762, Accuracy: 0.6032039523124695

In [15]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

C:\Users\setho\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [16]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: [1 1 0 1 0]
Actual Labels: [0, 0, 0, 0, 1]